<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79117046249-76rr7ou9eoej3mnv4ce5ci8i4m21g8h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79117046249-76rr7ou9eoej3mnv4ce5ci8i4m21g8h4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79117046249-0n4317v71eh6o13h4brfmk0hspbtt8up.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNDwqaPkDDAqBjyqtzLRpEBbI-N1nVsng</string>
	<key>GCM_SENDER_ID</key>
	<string>79117046249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rhine</string>
	<key>PROJECT_ID</key>
	<string>rhinedigital</string>
	<key>STORAGE_BUCKET</key>
	<string>rhinedigital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79117046249:ios:b5f6296dd1edbf9a</string>
	<key>DATABASE_URL</key>
	<string>https://rhinedigital.firebaseio.com</string>
</dict>
</plist>